$iconSizes: (18, 20, 24);

$breakpoints: (xs: 0, sm: 600px, md: 940px, lg: 1280px);

:root {
  --color-purple: #3f113f;
  --color-purple-dark: #1f0623;
  --color-green: #15c496;
  --color-orange: #ff9159;
  --color-orange-light: #f4d59e;
  --color-orange-dark: #eb804c;
  --color-white: #fff;
  --color-blue-light: #edeffb;
  --color-grey: #727478;
  --color-transparent: transparent;
}

$colors: (
  purple: var(--color-purple),
  purple-dark: var(--color-purple-dark),
  green: var(--color-green),
  orange: var(--color-orange),
  orange-light: var(--color-orange-light),
  orange-dark: var(--color-orange-dark),
  white: var(--color-white),
  blue-light: var(--color-blue-light),
  grey: var(--color-grey),
  transparent: var(--color-transparent)
);

$root-class: '.test-task';
